<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>play</title>
</head>
<body>
    <style>
    body {
        margin: 0;
        padding:0;
        }
    .app {
        width: 300px;
        overflow: hidden;
        border: 1px solid #ddd;
        }
    .header {
        text-align: center;
        background-color: #134c7b;
        }
    .container {
        color: #134371;
        font-weight:600;
        }
    .name {
        padding:5px;
        }
    .content {
        padding:5px;
        }

    </style>
    <div class="app">
        <div class="header">
            <img src="/static/insta.png">
        </div>
        <div class="container">
            <div class="name">Cristiano Ronaldo</div>
            <div class="img">
                <img width="100%" src="http://blogfiles5.naver.net/MjAxNjEwMjRfMTYg/MDAxNDc3MzE4OTM2NjQw.8O6AsKHmCZ0jNJhGuR-VTEelKlhzYTMfGGcGo8ljovcg.U1-DakHyQfmammiRE3vMv3gSp0Nvb8Rm9sZGnqnTSeMg.PNG.dddnkjjnk/%BD%BA%C6%F7%C3%F7_%C5%A9%B8%AE%BD%BA%C6%BC%BE%C6%B4%A9_%C8%A3%B3%AF%B5%CE_41_2016-10-18_23-57-31.png" alt="">
            </div>
            <div class="content">♥︎ 100 likes</div>
        </div>
    </div>
</body>
</html>